<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>D(AU)-Jones Index</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    {% include 'components/header.html' %}
    <div class="main-content">
      <h1>Firmenübersicht</h1>
      <!-- Buttonleiste-->
      <div class="button-bar">
        <span></span>
        <button class="btn btn-primary" id="add-company">Firma hinzufügen</button>
        <button class="btn btn-secondary" id="delete-selected">Ausgewählte löschen</button>
      </div>
      {% include 'components/firmen_list.html' %}
      <!-- Dummy-Einträge 
      <div class="firmen-list-row">
        <input type="checkbox">
        <input type="text" id="list-row-input firmName" value="Zeitung" placeholder="Firmenname">
        <input type="color" id="list-row-input firmColor" value="#ff0000" placeholder="Farbe">
        <input type="text" id="list-row-input aktKurs" value="125 MA" placeholder="Aktueller Kurs">
        <input type="text" id="list-row-input aktKursZiel" value="130 MA" placeholder="Aktuelles Kursziel">
        <input type="number" value="135" step="1.00">
        <button>Save</button>
      </div>-->
      


      <!-- Weitere Dummy-Einträge nach Bedarf -->
    </div>
    <div id="app"></div>
  </body>
</html>
