<script src="static/js/shop.js"></script>
<<div class="main-content">
    <h1>Shop</h1>
    <div id="shop-list" class="shop-list">
        <div class="shop-list-header">
            <span>Firmenname</span>
            <span>Aktueller Kurs</span>
            <span>Aktien im Umlauf</span>
            <span></span>
            <span>Anzahl</span>
            <span></span>
            <span>Gesamtpreis</span>
            <span>Kaufen</span>
            <span>Verkaufen</span>
        </div>
    </div>